.cardList {
  display: flex;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 12%;
  background: #fff;
  margin: 8px calc(4% / 16);
  border-radius: 4px;
  border: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
}
.title {
  color: #000;
  height: 50px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.tag {
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card:hover .hover {
  display: block;
}
.hover {
  display: none;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.3);
}
.icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 20px;
}
.center {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}